body {
    /* background-color: #E3E3E3; */
    font-family: Calibri;
    margin: 0;
    background-image: url(img/bg.jpg);
}

#game-container {
    background-color: white;
    opacity: 90%;
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'title title'
                         'level level'
                         'story image'
                         'empty inventory'
                         'button item'
                         'footer footer';
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: repeat(2);
}

#game-container > #title {
    background-color: #2f5496;
    grid-area: title;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 1px solid black;
}

/* #grid-container > #image {
    grid-area: image;
} */

#game-container > #description {
    /* width: 100%; */
    height: 250px;
    /* background-color: red; */
    grid-area: story;
    padding: 10px;
    border: 1px dotted black;
    margin: 0 10px;
    overflow-x: hidden;
    overflow-x: auto;
}

#game-container > #game-buttons {
    /* width: 499px; */
    /* background-color: green; */
    grid-area: button;
    text-align: center;
    margin: auto 10px;
}

#game-container > #game-buttons > button {
    background-color: #2f5496;
    color: white;
    border: 1px solid black;
    /* font-weight: bold; */
    width: 300px;
    height: 50px;
    margin: 5px;
    border-radius: 15px;
}

#game-container > #game-buttons > button:hover {
    cursor: pointer;
    background-color: #213f73;
}

#game-container > #inventoryItem {
    /* width: 499px; */
    /* background-color: blue; */
    grid-area: item;
    height: 175px;
    border: 1px dotted black;
    margin: 0 10px;
}


/* CUSTOM SCROLLBAR */
/* width */
#description::-webkit-scrollbar { width: 7px; }
/* track */
#description::-webkit-scrollbar-thumb { background: #888; } /* #213f73 */
/* handle on hover */
#description::-webkit-scrollbar-thumb:hover { background: #555; } /* #2f5496 */